
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2f4f4f;
    color: #ffffff;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #2f4f4f;
    color: white;
    text-align: center;
    padding: 12px;
}


main {
    padding: 40px 20px;
}

.produto-sobre {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
    background-color: #ffffff;
}

.produto-imagens img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.produtos {
    max-width: 500px;
}

.produto-descricao h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.produto-descricao {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #555;
}

.produto-beneficios {
    list-style: none;
    padding-left: 0;
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 30px;
}

.produto-beneficios li {
    margin-bottom: 10px;
}

.produto-beneficios h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.preco {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffcc00;
    margin-bottom: 20px;
}

.produtos button{
    background-color: #ffcc00;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.produtos button:hover {
    background-color: #ff9900;
}



